body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 161, 92, 0.15);
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 20px;
    }
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    @include container
}