@mixin container() {
    max-width: 340px;
    padding:$padding-phone;
    margin: auto;
    @media (min-width:$tablet) {
        max-width: 1000px;
        padding: $padding-tablet;
    }
    @media (min-width:$desktop) {
        max-width: 1400px;
        padding: $padding-desktop;
    }
}